<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <servlet>
        <servlet-name>dontUSerLikeThisServlet</servlet-name>
        <servlet-class>com.perf.sevlet.DontUserLikeThisServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dontUSerLikeThisServlet</servlet-name>
        <url-pattern>/dontUSerLikeThisServlet</url-pattern>
    </servlet-mapping>
</web-app>